* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: #f5f5f5;
}

.main__container {
    width: 100vw;
    height: auto;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 0 640px auto;
}

.navbar__max, .category__max, .video__max, .context__1__max {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
}

.navbar__max {
    background-color: #f5f5f5;
    box-shadow: 0 5px 10px #333;
    z-index: 1;
    position: sticky;
    top: 0;
}

.navbar {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar h1 {
    margin-left: 20px;
}

.navbar__position {
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.navbar__position button:hover, .navbar__position button.active {
    outline: none;
    border-bottom: 1px solid #333;
}

.left__navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
}

.left__navbar button {
    margin: 0 10px;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 0 solid transparent;
    text-wrap: nowrap;
    transition: 0.3s ease;
}

.left__navbar button i {
    padding: 0;
    margin: 0 3px;
}

.left__navbar button:active i {
    transform: rotate(180deg);
}

.right__navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.right__navbar button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: transparent;
    outline: none;
    border: 0;
    transition: 0.3s ease;
}

.right__navbar input {
    width: 200px;
    padding: 0 10px;
    margin: auto 0;
    height: 25px;
    border-radius: 25px;
    outline: 1px;
}

.category__max {
    position: sticky;
    top: 70px;
    z-index: 1;
}

.category {
    width: 100%;
    max-width: 1400px;
    height: 200px;
    position: relative;
}

.category__box {
    margin-left: 120px;
    width: 50%;
    min-width: 100px;
    height: 200px;
    background-color: #333;
    border-radius: 0 0 25px 25px; 
    position: absolute;
    display: grid;
    grid-template-columns: 40% 60%;
}

.category__box p {
    color: #f5f5f5;
}

.hide {
    display: none;
}

.video {
    width: 100%;
    max-width: 1400px;
    background-color: rgb(104, 104, 104);
}

.context__1 {
    width: 100%;
    max-width: 1400px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(179, 179, 179);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333;
}

.category__main__cat {
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.category__main__cat ul, .category__sub__cat ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.category__main__cat ul li, .category__sub__cat ul li {
    width: 100%;
    padding: 3px 0;
}

.category__main__cat ul li button, .category__sub__cat ul li a{
    padding: 5px 10px;
    width: 100%;
    color: #f5f5f5;
    font-size: 10px;
    background-color: transparent;
    text-decoration: none;
    display: block;
    transition: 0.3s ease-in-out;
    outline: none;
    border: none;
    text-align: left;
}

.category__main__cat ul li button:hover, .category__sub__cat ul li a:hover {
    padding-left: 20px;
    background-color: #000;
    border-radius: 10px;
}

.category__sub__cat ul li a:hover {
    background-color: #333;
}

.category__sub__cat {
    padding: 5px 10px;
    border-bottom-right-radius: 25px;
    background-color: #605858;
}

.context__1 {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(1fr, 600px));
}

.context__1_1, .context__2_2 {
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.context__1_1 h2, .context__2_2 h2 {
    font-size: 30px;
    line-height: 1.5;
    font-family: "Playwrite DE Grund", cursive;
    font-weight: bold;
}

.context__1_1 p, .context__2_2 li {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Playwrite DE Grund", cursive;
}

.context__2_2 h2, .context__2_2 li, .context__2_2 ul {
    text-align: right;
}

.context__2_2 ul {
    list-style-type: disc;
    direction: rtl;
    text-align: left;
}

.context__2_2 ul li {
    direction: rtl
}

.context__1_2, .context__2_1 {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.context__1_2 img {
    width: 55%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50px;
    filter: drop-shadow(0 5px 10px #333);
}

.context__2_1 img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    filter: drop-shadow(0 5px 10px #333);
}