* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(179, 179, 179);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333;
}

.main__container {
    width: 100vw;
    height: auto;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 625px repeat(4, auto);
}

.navbar__max, .video__max, .context__1__max, .rating__max {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
}

.navbar__max {
    background-color: #f5f5f5;
    box-shadow: 0 5px 10px #333;
    z-index: 1;
    position: sticky;
    top: 0;
}

.navbar {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.navbar h1 {
    margin-left: 20px;
}

.navbar__position {
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.navbar__position button:hover, .navbar__position button.active {
    outline: none;
    border-bottom: 1px solid #333;
}

.left__navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
}

.left__navbar button {
    margin: 0 10px;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 0 solid transparent;
    text-wrap: nowrap;
    transition: 0.3s ease;
}

.left__navbar button i {
    padding: 0;
    margin: 0 3px;
}

.left__navbar button:active i {
    transform: rotate(180deg);
}

.right__navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.right__navbar button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: transparent;
    outline: none;
    border: 0;
    transition: 0.3s ease;
}

.right__navbar input {
    width: 200px;
    padding: 0 10px;
    margin: auto 0;
    height: 25px;
    border-radius: 25px;
    outline: 1px;
}

.hide {
    display: none !important;
}

.video {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.context__1 {
    width: 100%;
    max-width: 1400px;
}

.context__1 {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.show__grid {
    animation: add_one_section 0.3s ease-in-out forwards;
}

.hide__grid {
    animation: remove_one_section 0.3s ease-in-out forwards;
}

.context__1_1, .context__content__3 {
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.context__1_1 {
    height: 100%;
    padding: 50px 100px;
    margin-bottom: 50px;
    grid-column: 2 span;
    text-align: center;
    border-bottom: 1px solid #333;
    padding: 50px;
}

.context__1_1 h2, .context__content__3 h2, .slide__description h2 {
    font-size: 35px;
    line-height: 1.5;
    font-family: "Playwrite DE Grund", cursive;
    font-weight: bold;
}

.context__1_1 p, .context__content__3 p, .slide__description p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Playwrite DE Grund", cursive;
}

.context__image__1 {
    width: 100%;
    position: relative;
}

.context__image__1 img {
    width: 90%;
    height: 90%; 
    object-fit: cover;
}

.context__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.context__content__1, .context__content__2 {
    width: 100%;
    display: grid;
    grid-template-rows: 40% 60%;
    gap: 10px;
}

.context__button  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.context__button button {
    width: 400px;
    height: 400px;
    background-color: transparent;
    outline: none;
    border: 1px solid #333;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.context__button button i {
    font-size: 10rem;
    transition: 0.3s ease-in-out;
}

.context__button button p {
    font-size: 30px;
}

.context__button button:hover {
    background-color: #aaa;
    box-shadow: 0 20px 10px #d2d2d2, 0 40px 20px #ededed;
    transform: translateY(10px);
}

.context__1_4 { 
    margin-bottom: 50px;
    grid-column: 2 span;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(0px, 500px) 300px;
    border: 1px solid #333;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    box-shadow: none;
}

.context__1_4 a {
    color: #333;
}

.slide__show {
    width: 100%;
    height: 100%;
    position: relative;
    top: -40;
    margin: auto;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: calc(0);
    position: relative;
    border-radius: 25px;
    box-shadow: 0 5px 10px #333, 0 10px 20px #aaa;
    transition: 0.3s ease-in-out;
}

.slide__description {
    width: 100%;
    height: 100%;
    padding: 80px;
    transition: 0.3s ease-in-out;
    overflow-y: auto;
}

.slide__description h2 {
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin: 0 30px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes remove_one_section {
    from {
        grid-template-rows: auto 700px 850px;
    }
    to {
        grid-template-rows: auto 700px 0;
    }
}

@keyframes add_one_section {
    from {
        grid-template-rows: auto 700px 0;
    }
    to {
        grid-template-rows: auto 700px 850px;
    }
}

@keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

.context__button button:hover i {
    transform: rotateX(30deg) rotateY(180deg);
}

.popular__item::-webkit-scrollbar, .foru__item::-webkit-scrollbar {
    height: 8px;
}

.popular__item::-webkit-scrollbar-track, .foru__item::-webkit-scrollbar-track {
    background-color: rgb(220, 220, 220);
}

.popular__item::-webkit-scrollbar-thumb, .foru__item::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8b8a8a;
}

.popular__max, .foru__max {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap; 
}

.popular, .foru, .rating{
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding-top: 80px;
}

.popular h2, .foru h2 {
    margin-left: 20px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular__item, .foru__item {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;   
}

.popular__item__container, .foru__item__container {
    min-width: 300px;
    width: 100%;
    height: 400px;
    border-radius: 50px;
    margin: 10px;
    border: 1px solid #333; 
}

.popular__item__container img, .foru__item__container img {
    width: 300px;
    height: 300px; 
    border-radius: 50px 50px 0 0;
}

.popular__item__container a, .foru__item__container a {
    color: #333;
    text-decoration: none;
}

.popular__item__container h3, .popular__item__container p,
.foru__item__container h3, .foru__item__container p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0 10px;
}

.customer__rating {
    width: 100%;
    height: 500px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.customer__rating__container {
    width: 100%;
    padding: 5px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    border-radius: 30px 0 0 30px;

}

.customer__rating__image {
    width: auto;
    height: auto;
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 30px;
}

.customer__rating__image img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}

.rating__section {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.top__section {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #f5f5f5;
}

.top__section h3, .top__section p {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #f5f5f5;
    font-weight: bold;
}

.rating__section > p {
    color: #f5f5f5;
    font-size: 15px;
    padding: 10px;
}