* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #aaa;
}

.navbar__container {
    width: 100%;
    height: 10vh;
    padding: 10px 20px;
    background-color: #333;
    box-shadow: 0 5px 5px #333333a7, 0 10px 10px #33333346;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__container h1 {
    padding: 0 3vw;
    color: #f5f5f5;
    font-size: 2vw;
    text-shadow: 0 1px 8px #333, 0 3px 10px #f5f5f5; 
}

.navbar {
    width: 100%;
}

.navbar ul {
    height: 100%;
    list-style-type: none;
    display: flex;
}

.left__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    padding: 5px 20px;
    color: #f5f5f5; 
    border-bottom: 0px dotted transparent;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    display: flex;
}

.navbar ul li a i {
    margin-right: 15px;
}

.navbar ul li a:hover, .navbar ul li a.active {
    border-bottom: 3px dotted #f5f5f5;
    border-radius: 10px;
    text-shadow: 0 0px 12px #f5f5f5;
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}


.search__container {
    width: 350px;
    height: 40px;
}

.search__container input {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    outline: none;
}

.search__container input:focus {
    outline: 1px solid #aaa;
    box-shadow: 0 3px 3px #aaa, 0 5px 5px #f5f5f5;
    transform: translateY(-5px);
}

#exp__container {
    width: 1200px;
    height: 600px;
    background-color: #d8d5d5;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    overflow-y: auto;
}

#exp__container svg {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.cat__list__container {
    padding-top: 30px;
    padding-left: 100px;
    margin-right: 10px;
    width: 30%;
}

.cat__list__container ul, .detail__list__container ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.cat__list__container ul li, .detail__list__container ul li {
    width: 100%;
    margin-bottom: 10px;
}

.cat__list__container ul li a, .detail__list__container ul li a {
    width: 100%;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
    z-index: 1;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.cat__list__container ul li a:hover, .detail__list__container ul li a:hover {
    background-color: #33333323;
}

.detail__list__container {
    padding-top: 30px;
    width: 50%;
}

#cat__1 span {
    float: right;
    font-weight: bold;
}

.hide {
    display: none;
}