* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main__container {
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    height: 100%;
    padding: 0 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    width: 1000px;
    height: 550px;
}

.button__tab {
    width: 100%;
    height: 10%;
    padding: 0 10px;
    background-color: #333;
    display: flex;
    align-items: center;
}

.button__tab button {
    height: 80%;
    width: 250px;
    margin: 0 5px;
    padding: 0 25px;
    background-color: #333;
    color: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 25px;
    position: relative;
    right: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.button__tab button i {
    margin-right: 20px;
}

.button__tab button:hover {
    background-color: #455577;
}

.button__tab button.active {
    background-color: #4a4a4a;
}

.container__1, .container__2 {
    width: 100%; 
    height: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 25px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    box-shadow: 0 5px 10px #333;
}

.text__container {
    width: 90%;
    height: 100%;
    grid-column: 2 span;
}

.text__container h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Playwrite DE Grund", cursive;
}

.input__container {
    width: 80%;
}

.input__container form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.input__container input {
    height: 40px;
    width: 100%;
    margin: 10px 0;
    padding: 0 20px;
    border: 1px solid #333;
    border-radius: 25px;
}

.input__container button {
    width: 70%;
    height: 50px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    font: 15px;
    outline: none;
    border: none;
}

.button__container {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url('../Image/female-friends-out-shopping-together.jpg');
    background-size: cover;
    filter: blur(0.4s);
    border-radius: 25px;
    position: relative;
}

.text__typer {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    font-family: "Playwrite DE Grund", cursive;
    font-weight: bold;
    color: #f5f5f5;
    background-color: #3333336b;
    box-shadow: 0 0 10px #333;
}

.typing__text {
    width: 100%;
    font-size: 1em;
    border-right: 3px solid  #f5f5f5;
    animation: type 2s steps(35), cursor .4s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

#text2 {
    padding-left: 30px;
    visibility: hidden;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.hide {
    display: none;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes type {
    from {
        width: 0;
    }
    to {
        width: 100%;
        visibility: visible;
    }
}